body{

  margin:0;
  padding:0;
  font-family:"Roboto","Arial",sans6sans-serif;
  font-size: 14px;
  color:#444;
}
.container_flex{
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items:center;
}
