body{
  margin:0;
  padding:0;
  font-family:"Helvetica Neue","Arial",sans6sans-serif;
  font-size: 14px;
  color:#00000;
  background-color: #FFFFFF;
}

.navbar{
  font-size: 15px;
}

.logoApple{
  width: 30px;
  height: 30px;
}

.st-navbar-desktop-logo-link{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.frontTitle{
  text-align: center;
  margin-top: 50px;
  margin-bottom: ;
}

.frontPod{
 margin-left:25%;
 margin-bottom: 30px;
 width: 50%;
}

.carousel{
  background-color: #313131;
}

.d-block{
  padding: 30px;
  left: 10%;
  height: 800px auto  ;
  width: 450px auto;
}
.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 100%;
}

.carousel-caption{
  text-align: center;
  margin-bottom: 500px;
}
.titleGuts{
  color: white;
  text-align: center;
  margin-top: 15%;
}

.textGuts{
  text-align: center;
  font-size: 16px;
  color: white;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

.col-md-6{
height: 700px;
}
.testSize{
  padding-top: 70px;
}
.testSize2{
  padding-top: 70px;
}
@media screen and ( max-width:1024px){

h5{
  margin-top:20px;
}
.textGuts{
 width : 400px;
 height: 400px;
}
.col-md-6{
  height: 500px;
}
.col-md-6>img{
  width: 600;
  height: 400px;
  margin: 0 auto;
}
#carouselExampleFade{
  height: 1000px;
}
.carousel-fade{
  height: 350px;
}
}
@media screen and ( max-width:870px){
  .textGuts{
   width : 300px;
   height: 600px;
  }
  #carouselExampleFade{
    height: 700px;
  }
}
@media screen and ( max-width:770px){
  #carouselExampleFade{
    height: 1000px;
  }
}
